<div class="row center hide multiple-row" id="multiple-row">
    <textarea type="text" id="input-url" class="form-control" placeholder="URL"></textarea>
     <div class="row">
        <div class="col-xs-3">
            <div class="checkbox">
                <label title="Check all locales">
                    <input type="checkbox" id="all-locales">All
                </label>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="checkbox">
                <label title="Check WEURG">
                    <input type="checkbox" id="locales-weurg">WEURG
                </label>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="checkbox">
                <label title="Check CEER">
                    <input type="checkbox" id="locales-ceer">CEER
                </label>
            </div>
        </div>
        <div class="col-xs-3 go-wrap">
            <button class="btn btn-primary btn-sm" id="btn-multiple-go"><span class="glyphicon glyphicon-ok-circle"></span> GO!</button>
        </div>
    </div>
</div>
<!-- /.row -->
