<div class="row page-info">
    <div class="col-xs-12">
        <div class="input-group input-group-sm">
            <span class="input-group-addon">page ID:</span>
            <input type="text" id="page-id" class="form-control">
            <span class="input-group-btn">
                <button class="btn btn-default btn-primary" id="copy-page-id" type="button"><span class="glyphicon glyphicon-ok hide"></span> Copy</button>
            </span>
        </div><!-- /input-group -->
    </div><!-- /.col-xs-6 -->
    <div class="col-xs-12">
        <div class="input-group input-group-sm">
            <span class="input-group-addon">page info:</span>
            <input type="text" id="page-info" class="form-control">
            <span class="input-group-btn">
                <button class="btn btn-default btn-primary" id="copy-page-info" type="button"><span class="glyphicon glyphicon-ok hide"></span> Copy</button>
            </span>
        </div><!-- /input-group -->
    </div><!-- /.col-xs-6 -->
</div><!-- /.row -->
