---
title: Locale Switcher settings
layout: www/tpl/layouts/options.hbs
---
<h1>Set your domain name and the homepage url:</h1>
<p>
    <label for="domain-name">Domain Name:</label>
    <br>
    <input id="domain-name" type="text" placeholder="example">
</p>
<p>
    <label for="homepage">Homepage:</label>
    <br>
    <input id="homepage" type="text" placeholder="index.html">
</p>

<h1>Set your cache urls:</h1>
<p>
    <label for="cache">Cache:</label>
    <br>
    <input id="cache" type="text">
</p>
<p>
    <label for="cache-messages">Cache messages:</label>
    <br>
    <input id="cache-messages" type="text">
</p>
<div id="status"></div>
<p>
    <button id="save">Save the settings</button>
</p>