<div class="container" id="application">
    <input type="text" id="current-url">

    {{> locales-control }}

    {{> locales-list }}

    <!-- http://www.flaticon.com/free-icon/conversion-settings_14521#term=gear&page=1&position=54 -->
    <div class="footer">
        Icon made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a>
    </div>
</div>