.btn
    .glyphicon-cog
        display none

    &.progress
        .glyphicon-trash
            display none

        .glyphicon-cog
            display inline-block
            animation rotation 1s infinite linear

@keyframes rotation
    0%
        rotate(0deg)
    100%
        rotate(360deg)

.iframe
    display none

