.locales-list
    li
        a
            padding 5px 5px 5px 35px

    .flag
        display inline-block
        left 10px
        height 16px
        margin-right 10px
        position absolute
        text-indent -9999px
        top 6px
        width 16px

        img
            height auto
            left 0
            position absolute
            top 0
            width 100%

.copy-locale
    opacity 0
    position absolute
    right 5px
    top 5px

.locales-list li:hover
    a
        background #eee

    .copy-locale
        opacity 1

.input-locale
    left -99999px
    position absolute
    top -99999px
